<!-- <div class="container">
    <div class="row">
        <div *ngIf="robot == true">
          <p >Ejemplo de ejecución HttpClient(asincrona) de google recaptcha
          </p><button (click)="getInfoRecaptcha()" class="btn btn-primary">
          Comprobación</button>
        </div>
    </div>
</div>
<div *ngIf="presionado == true">
  <p>Cargando ...</p>
</div>
 
<div *ngIf="robot == true">
    <p>De momento eres un robot, presiona el botón</p>
</div>
<div *ngIf="robot == false">
    <p>No eres un robot, en hora buena </p>
</div> -->