<div class="contenedor">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <h3 class="float-md-start mb-0 ico">
        <img src="../../../assets/icon-clinica.png" alt="img" width="50" height="50" />Clínica OnLine
      </h3>
    </header>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="w-50">
        <h1>Tú Clínica</h1>
        <p class="lead">
          Sistema de turnos online de agenda y
          administración que permite el control de las filas de atención en
          forma electrónica.
        </p>
        <p class="form-floating mb-3">
          <a routerLink="/auth/login" class="btn btn-lg btn-secondary fw-bold border-white">Acceder
          </a>
        </p>
        <p class="form-floating mb-3">
          <a routerLink="/auth/register" class="btn btn2 btn-lg btn-secondary fw-bold border-white mt-3">Registrate
          </a>
        </p>
          
        
      </div>
    </div>
  </div>
</div>