<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/login_logo.png" alt="Login">
        <h6 style="color: white;">Se envio un correo para verificar el email</h6>

        <div class="d-grid gap-2 mt-3">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/login">Volver</button>                
        </div>
        <!-- <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="name@example.com">
                <label>Email</label>
            </div>

            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" type="button">Recuperar</button>                
            </div>

            <a href="/login">Volver</a>
        </form> -->
    </div>

</div>
