<div
  *ngIf="usuario"
  class="mt-2 scroll-container"
  style="width: 100%; margin: auto"
  (scroll)="onScroll($event)"
>
  <div
    class="card mb-3"
    style="background-color: rgb(86, 86, 204); width: 70%"
    [@slideInFromLeft]
  >
    <div class="row g-0">
      <div class="col-md-4">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                [src]="usuario.imagen"
                class="d-block w-80"
                [alt]="usuario.name"
                style="height: 200px; object-fit: cover; margin-left: 20%"
              />
            </div>

            <div *ngIf="usuario.imagen2" class="carousel-item">
              <img
                [src]="usuario.imagen2"
                class="d-block w-80"
                [alt]="usuario.name"
                style="height: 200px; object-fit: cover; margin-left: 20%"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
              style="color: black"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
              style="color: black"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-8" style="width: 50%">
        <div class="card-body" style="margin-left: 40%">
          <h4 class="card-title" style="font-size: 15px">
            <strong style="font-size: 15px">Nombre:</strong>
            {{ usuario.nombre + " " + usuario.apellido }}
          </h4>
          <p class="card-text" style="font-size: 15px">
            <strong style="font-size: 15px">Edad:</strong> {{ usuario.edad }}
          </p>
          <p class="card-text" style="font-size: 15px">
            <strong style="font-size: 15px">DNI:</strong> {{ usuario.dni }}
          </p>
          <p *ngIf="usuario.rol == 'Paciente'" class="card-text">
            <strong>Obra Social:</strong> {{ usuario.obraSocial }}
          </p>
          <div *ngIf="usuario.rol == 'Profesional'">
            <span class="card-text"><strong>Especialidades:</strong></span>
            <ul>
              <li
                *ngFor="let especialidad of usuario.especialidades"
                class="card-text"
              >
                {{ especialidad }}
              </li>
            </ul>
          </div>

          <div class="d-grid gap-2">
            <!-- <button *ngIf="usuario.rol == 'Paciente'" class="btn btn-info" (click)="verMisAtencionesHandler()">
              Ver mis atenciones
            </button> -->
            <button
              *ngIf="usuario.rol == 'Profesional'"
              class="btn btn-primary"
              routerLink="/alta-dia-horario/"
            >
              <!--(click)="verMisHorariosHandler()"-->
              Ver mis horarios
            </button>
          </div>
          <div class="d-flex"></div>
        </div>
      </div>
    </div>
  </div>

  <div [@slideInFromLeft]>
    <h2 class="text-center" style="color: white">Historial CLinico</h2>
    <button
      *ngIf="miRol === 'Administrador'"
      type="button"
      class="btn btn-primary mt-3 mb-3"
      style="width: 125px; font-size: 14px"
      (click)="crearPdf()"
    >
      Descargar PDF
    </button>

    <label
      *ngIf="miRol === 'Paciente'"
      class="mb-2"
      style="color: whitesmoke; margin-left: 5px"
    >
      Buscar por especialista
    </label>
    <div
      *ngIf="miRol === 'Paciente'"
      class="container-filter"
      style="margin-bottom: 15px"
    >
      <!-- <div class="mb-4">  -->
      <input
        [(ngModel)]="filtro"
        (ngModelChange)="pacienteFiltrar()"
        class="form-control"
        style="margin-left: 5px; width: 18%; margin-bottom: 4"
        appEjercicioC
      />
      <!-- </div> -->

      <div style="font-size: 15px; height: 15%; margin-left: 10px">
        <button type="button" class="btn btn-primary" (click)="crearPdf()">
          Descargar PDF
        </button>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Especialidad</th>
          <th *ngIf="miRol === 'Profesional' || miRol === 'Administrador'">
            Paciente
          </th>
          <th *ngIf="miRol === 'Paciente' || miRol === 'Administrador'">
            Doctor
          </th>
          <th scope="col">Historial</th>
          <th scope="col">fecha</th>
          <th scope="col">hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{ turno.especialidad }}</td>
          <td *ngIf="miRol === 'Profesional' || miRol === 'Administrador'">
            {{ turno.paciente.nombre }} {{ turno.paciente.apellido }}
          </td>
          <td *ngIf="miRol === 'Paciente' || miRol === 'Administrador'">
            {{ turno.especialista.nombre }} {{ turno.especialista.apellido }}
          </td>
          <td *ngIf="turno.historial">
            <span
              ><strong>Altura: </strong>{{ turno.historial.altura }} -
            </span>
            <span><strong>peso: </strong>{{ turno.historial.peso }} - </span>
            <span
              ><strong>temperatura: </strong>{{ turno.historial.temperatura }}
            </span>

            <tr>
              <span
                ><strong>presion: </strong>{{ turno.historial.presion }} -
              </span>
            </tr>

            <tr *ngFor="let datoD of turno.historial.datosDinamicos">
              <td>
                {{ datoD["clave"] | formatKeyValue }}: {{ datoD["valor"] }}
              </td>
            </tr>
          </td>

          <td *ngIf="!turno.historial">
            <p>Sin Historial</p>
          </td>
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.hora }}</td>
        </tr>
      </tbody>

      <!-- <tbody>
        <app-turno-row
          [turnos]="turnos"
          [miRol]="miRol"
        ></app-turno-row>
      </tbody> -->

    </table>
    <br />
    <br />
  </div>
</div>

<!-- Animacion Presentacion -->
<!-- <div class="row g-0" [@fadeIn]>
      <div class="col-md-4">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner ">
            <div class="carousel-item active ">
              <img [src]="usuario.imagen" class="d-block w-80 " [alt]="usuario.name"
                style="height: 200px; object-fit: cover; margin-left: 20%; " />
            </div>

            <div *ngIf="usuario.imagen2" class="carousel-item">
              <img [src]="usuario.imagen2" class="d-block w-80" [alt]="usuario.name"
                style="height: 200px; object-fit: cover;margin-left: 20%;" />
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="color: black;"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      
      <div class="col-md-8 " style="width: 50%;">
        <div class="card-body" style="margin-left: 40%;">
          <h4 class="card-title " style="font-size: 15px;">
            <strong style="font-size: 15px;">Nombre:</strong>
            {{ usuario.nombre + " " + usuario.apellido }}
          </h4>
          <p class="card-text" style="font-size: 15px;"><strong style="font-size: 15px;">Edad:</strong> {{ usuario.edad
            }}</p>
          <p class="card-text" style="font-size: 15px;"><strong style="font-size: 15px;">DNI:</strong> {{ usuario.dni }}
          </p>
          <p *ngIf="usuario.rol == 'Paciente'" class="card-text">
            <strong>Obra Social:</strong> {{ usuario.obraSocial }}
          </p>
          <div *ngIf="usuario.rol == 'Profesional'">
            <span class="card-text"><strong>Especialidades:</strong></span>
            <ul>
              <li *ngFor="let especialidad of usuario.especialidades" class="card-text">
                {{ especialidad }}
              </li>
            </ul>
          </div>

          <div class="d-grid gap-2 ">
            <button *ngIf="usuario.rol == 'Paciente'" class="btn btn-info" (click)="verMisAtencionesHandler()">
              Ver mis atenciones
            </button>
            <button *ngIf="usuario.rol == 'Profesional'" class="btn btn-primary" (click)="verMisHorariosHandler()">
              Ver mis horarios
            </button>
          </div>
          <div class="d-flex"></div>
        </div>
      </div>

    </div>

  </div>
  <h2 class="text-center" style="color: white;">Historial CLinico</h2>
  <button type="button" class="btn btn-primary mb-3" style="width: 15%;" (click)="crearPdf()">
    Descargar PDF
  </button>-->

<!-- Ver desde acá el fondo c/ animacion-->
<!-- <div style="background-color: rgba(0, 0, 0, 0.5) !important;" [@fadeIn]>
    <table class="table">

      <thead>
        <tr>
          <th scope="col">Especialidad</th>
          <th *ngIf="miRol === 'Profesional' || miRol === 'Administrador'"> Paciente </th>
          <th *ngIf="miRol === 'Paciente' || miRol === 'Administrador'"> Doctor </th>
          <th scope="col">Historial</th>
          <th scope="col">fecha</th>
          <th scope="col">hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{ turno.especialidad }}</td>
          <td *ngIf="miRol === 'Profesional' || miRol === 'Administrador'">{{turno.paciente.nombre}}
            {{turno.paciente.apellido}}</td>
          <td *ngIf="miRol === 'Paciente' || miRol === 'Administrador'">{{ turno.especialista.nombre }} {{
            turno.especialista.apellido }}</td>
          <td *ngIf="turno.historial">
            <span><strong>Altura: </strong>{{turno.historial.altura}} - </span>
            <span><strong>peso: </strong>{{turno.historial.peso}} - </span>
            <span><strong>temperatura: </strong>{{turno.historial.temperatura}} </span>
        <tr>
          <span><strong>presion: </strong>{{turno.historial.presion}} - </span>  -->
<!-- <td>{{ log.fecha | formatDate }}</td> -->
<!-- <td>{{ log.fecha }}</td> -->
<!-- <td>{{ log.fecha | logs }}</td> -->
<!-- <td>{{log.fecha.toDate() | date:'MM/dd HH:mm'}}</td> -->
<!--<span><strong>clave1: </strong>{{turno.historial.clave1 }} - </span>-->
<!-- <span><strong>clave1: </strong>{{'clave1' | formatKeyValue: turno.historial.clave1 }} - </span> -->
<!-- <span><strong></strong>{{turno.historial.clave1 | formatKeyValue}} : </span> 
          <span><strong></strong>{{turno.historial.valor1}} </span>
          </td>
          <td *ngIf="!turno.historial">
            <p>Sin Historial</p>
          </td>
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.hora }}</td>
        </tr>
      </tbody>

    </table>
  </div>
  <br>
  <br>
</div> -->
