.btn-delete{
    color: white;
    background: transparent;
    border: none;
}

.captcha {
    display: flex; 
 }
 
 .btnCapt {
    width: 30%;
    //width: 150px;
    height: 40px;
    padding: 5px;
    font-size: 12px;
    border-radius: 8px;
    color: whitesmoke;
    background-color: rgba(79, 79, 81, 0.418);
    margin-top: 1px;
    margin-left: 59px !important;
}

 
 .btnCapt2 {
     width: 35%;
     //width: 150px;
     height: 33px;
     padding: 5px;
     font-size: 12px;
     border-radius: 8px;
     //color: whitesmoke;
     //background-color: rgb(10, 10, 109);
     margin-top: 5px;
     margin-left: 10px;
 }
 .text-danger{
    color: red !important;
 }