<div class="container mb-5">
  <div class="row" *ngIf="!loading">
    <div class="col-12">
      <h4 class="mb-3">Registro de administrador</h4>
      <form (ngSubmit)="addAdministrador()" [formGroup]="admin" class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-12 col-lg-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName="nombre" />
            <span *ngIf="
                admin.get('nombre')?.hasError('required') &&
                admin.get('nombre')?.touched
              " class="text-danger">
              EL <strong>Nombre</strong> es requerido</span>
            <span *ngIf="
                admin.get('nombre')?.hasError('minlength') &&
                admin.get('nombre')?.touched
              " class="text-danger">
              EL <strong>Nombre</strong> Debe ser mas de 3 caracteres</span>
          </div>
          <div class="col-12 col-lg-6">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido"
              formControlName="apellido" />
            <span *ngIf="
                admin.get('apellido')?.hasError('required') &&
                admin.get('apellido')?.touched
              " class="text-danger">
              EL <strong>Nombre</strong> es requerido</span>
            <span *ngIf="
                admin.get('apellido')?.hasError('minlength') &&
                admin.get('apellido')?.touched
              " class="text-danger">
              EL <strong>Nombre</strong> Debe ser mas de 3 caracteres</span>
          </div>

          <div class="col-12 col-md-6">
            <label for="edad" class="form-label">Edad</label>
            <input id="edad" type="text" class="form-control" placeholder="Ingrese edad" formControlName="edad" />
            <span *ngIf="
                admin.get('edad')?.hasError('required') &&
                admin.get('edad')?.touched
              " class="text-danger">
              La <strong>Edad</strong> es requerido</span>
            <span *ngIf="
                admin.get('edad')?.hasError('min') &&
                admin.get('edad')?.touched
              " class="text-danger">
              La <strong>Edad</strong> debe ser mayor o igual a 18 años.
            </span>
            <span *ngIf="
                admin.get('edad')?.hasError('max') &&
                admin.get('edad')?.touched
              " class="text-danger">
              La <strong>Edad</strong> debe ser menor o igual a 99 años.
            </span>
            <span *ngIf=" admin.get('edad')?.hasError('soloNumeros') 
                    && admin.get('edad')?.touched" class="text-danger">
              La <strong>Edad</strong> solo permiten numeros
            </span>
          </div>

          <div class="col-12 col-md-6">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" placeholder="Ingrese DNI" formControlName="dni" />
            <span *ngIf="admin.get('dni')?.hasError('required') 
                        && admin.get('dni')?.touched" class="text-danger">
              El <strong>DNI</strong> es requerido
            </span>
            <span *ngIf=" admin.get('dni')?.hasError('soloNumeros') 
                        && admin.get('dni')?.touched" class="text-danger">
              El <strong>DNI</strong> solo permiten numeros
            </span>
          </div>
          <div class="col-12">
            <label for="mail" class="form-label">Correo Electronico</label>
            <input type="text" class="form-control" placeholder="Ingrese Correo Electronico" formControlName="mail" />
            <span *ngIf="admin.get('mail')?.hasError('required') 
                        && admin.get('mail')?.touched" class="text-danger">
              El <strong>Correo Electronico</strong> es requerido
            </span>
            <span *ngIf=" admin.get('mail')?.hasError('email') 
                        && admin.get('mail')?.touched" class="text-danger">
              El <strong> Correo Electronico</strong> no tiene el formato correcto.
            </span>
          </div>

          <div class="col-12">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" placeholder="Ingrese Contraseña" formControlName="password" />
            <span *ngIf="admin.get('password')?.hasError('password') 
                        && admin.get('password')?.touched" class="text-danger">
              La <strong> Contraseña </strong> es requerida
            </span>
            <span *ngIf=" admin.get('password')?.hasError('minlength') 
                        && admin.get('password')?.touched" class="text-danger">
              La <strong> Contraseña </strong> tiene que ser mayor a 6 caracteres.
            </span>
          </div>

          <div class="col-12">
            <label for="image01n" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="image01n" placeholder="" (change)="uploadImage($event)" />
          </div>
        </div>

        <!-- <hr class="my-4" />
        <button class="w-100 btn btn-lg" style="background-color: #0d689d; color: white" type="submit"
          [disabled]="!admin.valid">
          Agregar
        </button> -->

        <hr class="my-4" />
        <button class="w-100 btn btn-lg" style="background-color: #0d689d; color: white" type="submit"
          [disabled]="!admin.valid || (isCaptchaDisabled ? false : !isCheck)">
          Agregar
        </button>

        <div class="captcha">
          <button class="btnCapt mb-2" (click)="captchaOnOff()" type="button">On/Off</button>
          <app-captcha class="btnCapt2 mb-2" [isDisabled]="isCaptchaDisabled"
            (captchaChange)="onCaptchaChange($event)" />
        </div>

      </form>

    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center vh-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
