a {
    cursor: pointer;
}
body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  .button-img {
    background: transparent;
    border: none;
    color: white;
}

.my-custom-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.my-custom-button:hover {
  background-color: #0056b3;
}

.img {
  width: 1.8cm;
  height: 1.6cm;
}

.container2{
  background-color: rgba(255, 255, 255, 0.0);
}

td {
  color: white;
}
th {
  color: black;
  font-size: 20px;
  background-color: #999;
}

h2 {
  color: whitesmoke;
}

button {
  margin-right: 5px;

}

.btn-danger {
background-color: rgb(217, 49, 49);
}

.form-pend {
  background-color: transparent;
}
.torta{
  width: 350px; /* Ancho deseado */
  height: 350px; /* Alto deseado */ 
  display: flex;
  //justify-content: center;
  align-items: center;
  //position: relative; /* Posicionamiento relativo */
  left: 300px; /* Desplazar 200px hacia la derecha */
}

.torta2{
  width: 350px; /* Ancho deseado */
  height: 350px; /* Alto deseado */ 
  display: flex;
  justify-content: center;
  align-items: center;
  //position: relative; /* Posicionamiento relativo */
  left: 320px; /* Desplazar 200px hacia la derecha */
}

.charts-container {
  //display: flex; /* Enable flexbox layout */
  // width: 350px; /* Ancho deseado */
  // height: 350px; /* Alto deseado */
  display: flex; /* Enable flexbox layout */
  //flex-direction: row; /* Arrange items horizontally */
  justify-content: space-around; /* Distribute space evenly */
  //align-items: center; /* Align items vertically */
}

.chart-box {
  width: 300px; /* Ancho deseado */
  height: 300px; /* Alto deseado */
  background-color: transparent;
  //flex: 1; /* Allow each chart to expand */
  //flex-direction:row; /* Arrange items horizontally */
  //margin: 1px; /* Add some spacing between charts */
  margin-bottom: 10px;
}

.logs {
  width: 13%;
}

//Boton de Desde-hasta
::placeholder,.input1,.input1f {
  color: #999;
  font-weight: normal;
  font-style: italic;
  margin-left: 10px;
  font-size: 10px;
}
//input
.lab {
  color: rgb(185, 190, 197);
  margin-left: 5px;
  
}
.lab2 {
  margin-left: 20px;
  
}
.env {
  margin-left: 5px;
  font-style: italic;
  color: whitesmoke;
  background-color: #0056b3;
  //box-shadow: #007bff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}
#input1, #input2, #input1f, #input2f {
  width: 25%;
  margin-left: 5px;
  //border-radius: 10%;
  //margin-right: 1px;
  font-size: 14px;
}

.titulo, .titulo2,.titulo3,.titulo4{
  font-size: 20px;
  margin-left: 5%;
  font-style: italic;
 // margin: 1px;
}
input[type="date"] {
  /* Estilos generales para todos los inputs de tipo date */
  //width: 200px; /* Ajusta el ancho según tus necesidades */
  //padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:whitesmoke;
  //font-size: 16px;
}
.contenedorGraf {
 background-color: rgba(0, 0, 0, 0.5);
}
// .card-container {
//   margin: 1rem; /* Ajusta el valor según tus necesidades */
// }