button {
  margin-right: 5px;
}

.form-pend table {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
}

h2 {
  color: whitesmoke;
}
th {
  color: rgb(55, 14, 220);
}

td {
  color: white;
}

.btn1 {
  background-color: green;
}

.btn2 {
  background-color: rgb(145, 24, 24);
}

.btn3 {
  background-color: rgb(193, 165, 37);
}